label {
    display: block;
    margin-bottom:10px;
    font-weight:10px; 
    margin-top: 25px;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    cursor: pointer;
}

.categories {
    background: linear-gradient(to bottom, #4f8f5e, #24a3a7); 
    color: white; 
    font-family: cursive; 
    padding: 8px 12px; 
    margin: 5px; 
    border-radius: 20px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    padding: 15px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book {
    width: 200px;
    margin: 20px;
    text-align: center;
}

.book img {
    max-width: 100%;
    height: auto;
}

.book-title {
    margin-top: 10px;
    font-weight: bold;
}

.cat-button {
    background-color: transparent; 
    border: none !important; 
    color: white; 
    outline: none !important; 
    cursor: pointer;
}

.welcome-text {
    padding: 0.5rem 1rem; 
    color: white;
    font-family: 'Trocchi', serif;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}

.details-container {
    display: flex;
    height: 90%;
    overflow: hidden;
}
.left-column {
    width: 30%;
    background-color: transparent;
    overflow: hidden;
    text-align: center;
    height: 50%;
    padding-top: 20px;
}
.right-column {
    width: 70%;
    padding: 20px;
}
.left-column img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.book-details {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.default-rating{
    display: flex;
    flex-direction: row;
}